<!DOCTYPE html>
<html lang="en">
<style type="text/css">
<!-- .button {
  background-color: #a1afc9;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
} -->
textarea{
    font-family:kaiti;
    font-size:16px;
    font-weight:bold;
}
input[type="submit"] {
    -moz-user-select: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #666666;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 80px;
    padding: 0 8px;
    text-align: center;
}
input[type="submit"]:hover {
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #F1F1F1);
    border: 1px solid #C6C6C6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #333333;
}
input[type="submit"]:focus {
    border: 1px solid #4D90FE;
    outline: medium none;
}

</style >

<head>
    <meta charset="UTF-8">
    <title>词性分割</title>
</head>


<body>
    <div style="width:100%;text-align:center">
        <form action="/seg" method="POST">
            <h1>词性分割</h1>
            <!-- <input type="text" name="st"  style="width:200px; height: 400px;;"><br/> -->
            <h3>请输入您想要分割的句或段</h3>
            <textarea name="string" style="width: 50%;height:200px;">{{original}} </textarea>
            <br />
            请选择内核:<select name="core">
                <option value="SnownlpSeg">snownlp</option>
                <option value="JiebaSeg">jieba</option>
            </select>
            <div class="button-border">
                <input type="submit" value="生成" class="button">
            </div>
            <h3>分割结果</h3>
            <textarea style="width: 50%;height:200px;">{{seg}}</textarea>
            <h3>词性分割结果</h3>
            <textarea style="width: 50%;height:200px;">{{posseg}}</textarea>
        </form>
    </div>
</body>

</html>